body {
  background-color: #fbc02d;
  margin: 0;
  padding: 0;
}

.container {
  margin: 40px auto;
  padding: 20px;
  max-width: 1000px;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  text-align: center;
  color: #2e2e2e;
  margin-bottom: 20px;
}

form {
  text-align: center;
  margin-bottom: 10px;
}

.instructions {
  padding: 10px 15px;
  margin-bottom: 5px;
  width: 100%;
  display: inline-block;
  border: 4px solid #c41e3a;
  border-radius: 30px;
  background-color: #ffd366;
  font-size: 18px;
  text-align: center;
}
.instructions::placeholder {
  font-family: "Lora", serif;
  color: #2e2e2e;
  text-align: center;
}
.submit-button {
  padding: 10px 20px;
  margin: 7px auto;
  width: 90%;
  display: inline-block;
  border-radius: 30px;
  border: none;
  background-color: #c41e3a;
  color: #f5e6c8;
  font-size: 16px;
  cursor: pointer;
}

.suggestion-text {
  font-family: "Lora", serif;
  font-size: 18px;
  color: #2e2e2e;
  text-align: center;
  margin: auto;
  padding: 7px;
  background-color: #ffd366;
  display: block;
  width: fit-content;
  border-radius: 30px;
}

.results {
  background-color: #f5e6c8;
  border: none;
  border-radius: 16px;
  margin-top: 30px;
  padding: 15px;
}
.name {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.ingredients-steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .ingredients-steps {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  .ingredients,
  .steps {
    width: 50%;
  }
}
.ingredients ul {
  padding-left: 20px;
  list-style: disc;
  color: #2e2e2e;
}
.steps ol {
  padding-left: 20px;
  color: #c41e3a;
}
footer {
  font-family: "Playfair Display", serif;
  margin-top: 10px;
  flex: 50%;
}
